{%extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Animal{% endblock %}

{% block subnavbar %}
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <!-- Listing par nom des chiens #myanimal_{id} -->
                <li class="active"><a href="#myanimaux_0" data-toggle="tab">Toto</a></li>
                <li><a href="{{path("guard_common_animal_new")}}" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Ajouter un compagnon</a></li>

                <li class="pull-right"><a class="btn btn-info" href="{{ path('guard_common_animal_race') }}"><i class="glyphicon glyphicon-list"></i> Race</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Listing des infos du chien #myanimal_{id} -->
                <div class="tab-pane active" id="myanimaux_0">
                    mes informations sur mon toto
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}