{%extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Profile{% endblock %}



{% block main %}
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            {% block fos_user_content %}
            {% include "FOSUserBundle:Profile:show_content.html.twig" %}
            {% endblock fos_user_content %}
        </div>
    </div>
</div>
{% endblock %}